<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<footer th:fragment="footer" class="user-footer">
    <div class="user-footer-flex">
        <div class="user-footer-left">
            <h5 class="user-footer-site-name">Movie Rating Finder</h5>
            <p class="user-footer-desc">Find ratings for movies from IMDB and Rotten Tomatoes.</p>
        </div>
        <div class="user-footer-links">
            <a href="/" class="user-footer-link">Home</a>
            <a href="/movies" class="user-footer-link">Movies</a>
            <a href="/about" class="user-footer-link">About</a>
        </div>
        <div class="user-footer-social">
            <a href="#" class="user-footer-social-icon"><i class="bi bi-facebook"></i></a>
            <a href="#" class="user-footer-social-icon"><i class="bi bi-twitter"></i></a>
            <a href="#" class="user-footer-social-icon"><i class="bi bi-instagram"></i></a>
        </div>
    </div>
    <div class="user-footer-bottom">
        <p>&copy; 2025 Movie Rating Finder. All rights reserved.</p>
    </div>
</footer>
</body>
</html>
